.container {
  padding: 2rem;
  font-size: 1.3rem;
  max-width: 48rem;
  margin: 0 auto;
}

.form {
  display: flex;
  margin-bottom: 2rem;
}

.formInput {
  display: block;
  margin-bottom: 15px;
  width: 33%;
  box-sizing: border-box;
}

.formButton {
  display: block;
  margin-top: 10px; /* Space above the button */
}

.imageWrapper {
  width: 100%;
  aspect-ratio: 1 / 1;
  position: relative
}

.prediction-image img {
  max-width: 80%;
  height: auto;
  display: flex; /* To remove any extra space below the image */
  margin-left: 20;
  margin-right: auto;
}

@media (max-width: 600px) {
  .prediction-image img {
    /* Additional styles for screens narrower than 600px */
  }
}
